* {
  cursor: none;
}

p {
  color: #fff;
}

body {
  background-color: #000;
}

.container {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #ffffff;
  border-style: solid;
  position: absolute;
  top: 20%;
  left: 20%;
}